# Club Elo

In [1]:
import sys
sys.path.append("../")

from penaltyblog.scrapers import ClubElo

### Download all ELO ratings on the 1st January 2020

In [2]:
ce = ClubElo()

ce.get_elo_by_date("2020-01-01")

                     rank country  level          elo       from         to
team
Liverpool               1     ENG      1  2075.851318 2019-12-30 2020-01-02
Man City                2     ENG      1  2001.572021 2019-12-30 2020-01-01
Barcelona               3     ESP      1  1985.365845 2019-12-22 2020-01-04
Bayern                  4     GER      1  1941.557129 2019-12-22 2020-01-19
Juventus                5     ITA      1  1909.993042 2019-12-19 2020-01-06
...                   ...     ...    ...          ...        ...        ...
Santa Coloma         None     AND      0   773.999878 2019-08-02 2020-08-08
Matecosa Sant Julia  None     AND      0   754.937744 2019-08-02 2020-07-01
Tre Fiori            None     SMR      0   707.414734 2019-07-31 2020-08-08
Tre Penne            None     SMR      0   676.546082 2019-07-31 2020-08-08
La Fiorita           None     SMR      0   661.198242 2019-07-31 2020-08-08

[642 rows x 6 columns]

### List all teams available on clubelo.com

In [3]:
ce.get_team_names()

                      team
0                Liverpool
1                 Man City
2              Real Madrid
3                   Bayern
4                  Chelsea
..                     ...
615                 Escale
616  Atletic Club Escaldes
617              Tre Fiori
618              Tre Penne
619             La Fiorita

[620 rows x 1 columns]

### Download all historical ratings for Bournemouth

In [4]:
ce.get_elo_by_team("Bournemouth")

            rank         team country  level          elo         to
from
2022-08-23    85  Bournemouth     ENG      1  1630.496460 2022-12-31
2022-08-14    85  Bournemouth     ENG      1  1630.496460 2022-08-22
2022-08-07    85  Bournemouth     ENG      1  1630.496460 2022-08-13
2022-07-29    85  Bournemouth     ENG      1  1630.496460 2022-08-06
2022-07-28    88  Bournemouth     ENG      1  1630.496460 2022-07-28
...          ...          ...     ...    ...          ...        ...
1987-09-01  None  Bournemouth     ENG      2  1446.301025 1987-09-05
1987-08-30  None  Bournemouth     ENG      2  1455.968018 1987-08-31
1987-08-23  None  Bournemouth     ENG      2  1451.548828 1987-08-29
1987-08-16  None  Bournemouth     ENG      2  1441.609131 1987-08-22
1987-07-01  None  Bournemouth     ENG      2  1428.954834 1987-08-15

[1222 rows x 6 columns]